header {
    align-items: center;
    display: flex;
}
*{
    background-color: #FFFFFF;
}
header {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    justify-content: space-between;
    /* margin-bottom: 70px; */
    min-height: 70px;
    padding: 15px;
}
.img{
    width: 50px;
    height: auto;
}
